[project]
	description = test repository for hello-world
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/riteshtijoriwala
[access "refs/for/refs/*"]
	read = group user/riteshtijoriwala
	push = group user/riteshtijoriwala
	label-Code-Review = -2..+2 group user/riteshtijoriwala
	label-Verified = -1..+1 group user/riteshtijoriwala
	rebase = group user/riteshtijoriwala
	removeReviewer = group user/riteshtijoriwala
	submit = group user/riteshtijoriwala
[access "refs/heads/*"]
	read = group user/riteshtijoriwala
	create = group user/riteshtijoriwala
	push = +force group user/riteshtijoriwala
	pushMerge = group user/riteshtijoriwala
[access "refs/tags/*"]
	push = +force group user/riteshtijoriwala
	pushTag = group user/riteshtijoriwala
	pushSignedTag = group user/riteshtijoriwala
